*.exe
MacroMachine/MacroMachine/bin/Release/MacroMachine.pdb
MacroMachine/MacroMachine/obj/Release/MacroMachine.pdb
MacroMachine/MacroMachine/bin/Debug/NAudio.xml
MacroMachine/MacroMachine/bin/Debug/NAudio.dll
MacroMachine/MacroMachine/bin/Debug/MacroMachine.pdb
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide-wal
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide-shm
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide
MacroMachine/.vs/MacroMachine/v15/.suo
MacroMachine/MacroMachine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.CoreCompileInputs.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.FileListAbsolute.txt
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.GenerateResource.Cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csprojAssemblyReference.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.pdb
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.CoreCompileInputs.cache
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.FileListAbsolute.txt
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.GenerateResource.Cache
MacroMachine/MacroMachine/obj/Release/MacroMachine.csprojAssemblyReference.cache
*.pdb
MacroMachine/MacroMachine/obj/Debug/MacroMachine.pdb
*.cache
*.ide-wal
*.ide-shm
MacroMachine/.vs/MacroMachine/v15/.suo
*.ide
