*.exe
MacroMachine/MacroMachine/bin/Release/MacroMachine.pdb
MacroMachine/MacroMachine/obj/Release/MacroMachine.pdb
MacroMachine/MacroMachine/bin/Debug/NAudio.xml
MacroMachine/MacroMachine/bin/Debug/NAudio.dll
MacroMachine/MacroMachine/bin/Debug/MacroMachine.pdb
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide-wal
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide-shm
MacroMachine/.vs/MacroMachine/v15/Server/sqlite3/storage.ide
MacroMachine/.vs/MacroMachine/v15/.suo
MacroMachine/MacroMachine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.CoreCompileInputs.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.FileListAbsolute.txt
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csproj.GenerateResource.Cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.csprojAssemblyReference.cache
MacroMachine/MacroMachine/obj/Debug/MacroMachine.pdb
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.CoreCompileInputs.cache
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.FileListAbsolute.txt
MacroMachine/MacroMachine/obj/Release/MacroMachine.csproj.GenerateResource.Cache
MacroMachine/MacroMachine/obj/Release/MacroMachine.csprojAssemblyReference.cache
*.pdb
MacroMachine/MacroMachine/obj/Debug/MacroMachine.pdb
*.cache
*.ide-wal
*.ide-shm
MacroMachine/.vs/MacroMachine/v15/.suo
*.ide
SoundMachine/SoundMachine/obj/Debug/MacroMachine.csproj.FileListAbsolute.txt
SoundMachine/.vs/SoundMachine/v15/.suo
SoundMachine/.vs/SoundMachine/v15/Server/sqlite3/db.lock
SoundMachine/SoundMachine/obj/Debug/SoundMachine.csproj.CopyComplete
SoundMachine/SoundMachine/obj/Debug/SoundMachine.csproj.FileListAbsolute.txt
SoundMachine/SoundMachine/obj/Debug/SoundMachine.Form1.resources
SoundMachine/SoundMachine/obj/Debug/SoundMachine.Properties.Resources.resources
SoundMachine/SoundMachine/obj/Debug/SoundMachine.SetBindingForm.resources
SoundMachine/SoundMachine/obj/Debug/SoundMachine.SettingsForm.resources
SoundMachine/SoundMachine/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SoundMachine/SoundMachine/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SoundMachine/SoundMachine/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SoundMachine/SoundMachine/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SoundMachine/SoundMachine/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SoundMachine/SoundMachine/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SoundMachine/SoundMachine/bin/Debug/MacroMachine.exe.config
SoundMachine/SoundMachine/readme.txt
SoundMachine/SoundMachine/obj/Release/MacroMachine.Properties.Resources.resources
SoundMachine/SoundMachine/obj/Release/MacroMachine.Form1.resources
SoundMachine/SoundMachine/obj/Release/MacroMachine.csproj.FileListAbsolute.txt
SoundMachine/SoundMachine/obj/Release/MacroMachine.csproj.CopyComplete
SoundMachine/SoundMachine/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
SoundMachine/SoundMachine/obj/Debug/MacroMachine.Properties.Resources.resources
SoundMachine/SoundMachine/obj/Debug/MacroMachine.Form1.resources
SoundMachine/SoundMachine/obj/Debug/MacroMachine.csproj.CopyComplete
SoundMachine/SoundMachine/bin/Release/NAudio.xml
SoundMachine/SoundMachine/bin/Release/NAudio.dll
SoundMachine/SoundMachine/bin/Release/MacroMachine.exe.config
SoundMachine/SoundMachine/bin/Debug/SoundMachine.exe.config
SoundMachine/SoundMachine/bin/Debug/NAudio.xml
SoundMachine/SoundMachine/bin/Debug/NAudio.dll
SoundMachine/SoundMachine/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
SoundMachine/SoundMachine/obj/Release/SoundMachine.Form1.resources
SoundMachine/SoundMachine/obj/Release/SoundMachine.Properties.Resources.resources
SoundMachine/SoundMachine/obj/Release/SoundMachine.SetBindingForm.resources
SoundMachine/SoundMachine/obj/Release/SoundMachine.SettingsForm.resources
SoundMachine/SoundMachine/obj/Release/SoundMachine.csproj.CopyComplete
SoundMachine/SoundMachine/bin/Release/SoundMachine.exe.config
SoundMachine/SoundMachine/obj/Release/SoundMachine.csproj.FileListAbsolute.txt
SoundMachine/SoundMachine/bin/Release/SoundMachine.zip
SoundMachine/.vs/SoundMachine/v16/.suo
SoundMachine/SoundMachine/bin/Release/SoundMachine.zip
*.resources
